.info-contacto {
    background-color: #f8fafc;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #e2e8f0;
    margin-top: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #4a5568;
    font-size: 1rem;
    text-align: center;
}

.info-item i {
    color: #F9A66C;
    font-size: 1.2rem;
    margin-right: 15px;
    width: 25px;
    text-align: center;
}

.mapa-container {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #e2e8f0;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
